<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作日报小demo-新建日报</title>
    <!--引入项目所需框架库-->
    <script src="../lib/jquery-3.2.1.min.js"></script>
    <script src="../lib/vue/vue.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="../lib/assets/css/font-awesome.css" rel="stylesheet">
    <!--站点公用样式与功能-->
    <link rel="stylesheet" href="../css/site-header.css">
    <script src="../js/readCookie.js"></script>
    <script src="../js/html_checkLogin.js"></script>
    <!--此页所需的功能和样式-->
    <link rel="stylesheet" href="../css/new-daily.css">
    <script src="../js/newDaily.js"></script>
</head>

<body>
<nav  class="container c-nav" id="nav-html">
    <div class="row">
        <ul class="col-md-3 nav nav-pills">
            <li role="presentation"><a href="_index.php">个人首页</a></li>
            <li role="presentation" class="active"><a href="newDaily.html">新建日报</a></li>
        </ul>
        <div class="col-md-5 col-md-offset-4">
            <div class="row user-info">
                <p class="col-md-4 col-md-offset-2">登录用户：
                    <a href="#">{{username}}</a>
                </p>
                <a class="col-md-4" href="http://localhost/workDailySys/user/logout.php">退出登录</a>
            </div>
        </div>
    </div>
</nav>

<div class="container new-daily" id="daily">
    <div class="row block-title">
        <h2 class="col-md-12">新建工作日报</h2>
    </div>
    <div class="row block-subject">
        <div class="form-group">
            <label for="inputSubject">标题</label>
            <input v-model="subject" type="text" class="form-control" id="inputSubject" placeholder="12个以内的中文字符">
        </div>
        <div class="form-group">
            <label for="inputPrimary">摘要</label>
            <textarea v-model="primary" rows="5" class="form-control" id="inputPrimary" placeholder="请输入摘要"></textarea>
        </div>
    </div>
    <div class="row editer-content">
        <div id='pad-wrapper'>
            <div id="editparent">
                <div id='editControls' class='span9' style=' padding:5px;'>
                    <div class='btn-group'>
                        <a class='btn' title="撤销" data-role='undo' href='#'><i class='icon-undo'></i></a>
                        <a class='btn' title="恢复" data-role='redo' href='#'><i class='icon-repeat'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="剪切" data-role='cut' href='#'><i class='icon-cut'></i></a>
                        <a class='btn' title="复制" data-role='copy' href='#'><i class='icon-copy'></i></a>
                        <a class='btn' title="粘贴" data-role='paste' href='#'><i class='icon-paste'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="加粗" data-role='bold' href='#'><b>Bold</b></a>
                        <a class='btn' title="斜体" data-role='italic' href='#'><em>Italic</em></a>
                        <a class='btn' title="下划线" data-role='underline' href='#'><u><b>U</b></u></a>
                        <a class='btn' title="删除线" data-role='strikeThrough' href='#'><strike>abc</strike></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="左对齐" data-role='justifyLeft' href='#'><i class='icon-align-left'></i></a>
                        <a class='btn' title="居中对齐" data-role='justifyCenter' href='#'><i class='icon-align-center'></i></a>
                        <a class='btn' title="右对齐" data-role='justifyRight' href='#'><i class='icon-align-right'></i></a>
                        <a class='btn' title="两边对齐" data-role='justifyFull' href='#'><i class='icon-align-justify'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="向右缩进" data-role='indent' href='#'><i class='icon-indent-right'></i></a>
                        <a class='btn' title="向左缩进" data-role='outdent' href='#'><i class='icon-indent-left'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="无序列表" data-role='insertUnorderedList' href='#'><i class='icon-list-ul'></i></a>
                        <a class='btn' title="有序列表" data-role='insertOrderedList' href='#'><i class='icon-list-ol'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="一级标题" data-role='h1' href='#'>h<sup>1</sup></a>
                        <a class='btn' title="二级标题" data-role='h2' href='#'>h<sup>2</sup></a>
                        <a class='btn' title="三级标题" data-role='h3' href='#'>h<sup>3</sup></a>
                        <a class='btn' title="四级标题" data-role='h4' href='#'>h<sup>4</sup></a>
                        <a class='btn' title="段落" data-role='p' href='#'>p</a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' title="上标" data-role='subscript' href='#'><i class='icon-subscript'></i></a>
                        <a class='btn' title="下标" data-role='superscript' href='#'><i class='icon-superscript'></i></a>
                    </div>
                </div>
                <div id='editor' style='' contenteditable></div>
            </div>
        </div>
    </div>
    <div class="row btn-content">
        <button class="btn btn-primary" id="addDaily" v-on:click.prevent="submitData">提交</button>
    </div>
</div>

<!--Site Modal -->
<div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modalHeader}}</h4>
            </div>
            <div class="modal-body">
                <p v-for="item in items">{{item.text}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" v-bind:class="btn1.classList" data-dismiss="modal" v-if="btn1.show">{{btn1.text}}</button>
                <button type="button" v-bind:class="btn2.classList" v-if="btn2.show">{{btn2.text}}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>